.nav {
    background-color: black;
    color: white;
}

.full-height {
    height: calc(100vh - 110px);
}

form {
    margin-top: 5rem;
}

.form-signin {
    max-width: 330px;
    padding: 15px;

    .form-floating {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
