form {
    margin-top: 5rem;
}

.navbar {
    padding-left: 20px;
    padding-right: 20px;
}

.full-height {
    height: calc(100vh - 110px);
}

.cover-container {
    max-width: 42em;
}

.nav-item {
    form {
        margin: 0;
    }
}

.form-signin {
    max-width: 330px;
    padding: 15px;

    .form-floating {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
